@import "../../../styles/abstracts";

// .section {
//   .container {
//     // display: flex;
//     // justify-content: flex-end;
//     // align-items: center;
//     .calenderEvents {
//       display: flex;
//       flex-wrap: wrap;
//       gap: 24px;
//       .event {
//         flex-basis: calc(50% - 12px);
//         display: flex;
//         align-items: center;
//         border-radius: 14px;
//         justify-content: space-between;

//         h4 {
//           flex-basis: 70%;
//         }

//         .date {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           justify-content: center;
//         }

//         @include small-screen {
//           flex-basis: 100%;
//         }
//       }
//     }

//     .button {
//       display: flex;
//       justify-content: center;
//     }
//   }
// }

.section {
  .container {
    // .calenderEvents {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   gap: 24px;
    //   .event {
    //     flex-basis: calc(50% - 12px);
    //     border-radius: 14px;

    //     h4 {
    //       flex-basis: 70%;
    //     }

    //     @include small-screen {
    //       flex-basis: 100%;
    //     }
    //   }
    // }

    .calenderImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      .event {
        width: calc(33% - 16px);
        display: flex;
        align-items: center;
        border-radius: 14px;
        justify-content: space-between;
        @include medium-screen {
          width: calc(50% - 12px);
        }
        @include small-screen {
          width: calc(85%);
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
    }
  }
}
