@import "../../../styles/abstracts";

// .section {
//   .container {
//     // display: flex;
//     // justify-content: flex-end;
//     // align-items: center;
//     .calenderEvents {
//       display: flex;
//       flex-wrap: wrap;
//       gap: 24px;
//       .event {
//         flex-basis: calc(50% - 12px);
//         display: flex;
//         align-items: center;
//         border-radius: 14px;
//         justify-content: space-between;

//         h4 {
//           flex-basis: 70%;
//         }

//         .date {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//           justify-content: center;
//         }

//         @include small-screen {
//           flex-basis: 100%;
//         }
//       }
//     }

//     .button {
//       display: flex;
//       justify-content: center;
//     }
//   }
// }

.section {
  .container {
    // .calenderEvents {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   gap: 24px;
    //   .event {
    //     flex-basis: calc(50% - 12px);
    //     border-radius: 14px;

    //     h4 {
    //       flex-basis: 70%;
    //     }

    //     @include small-screen {
    //       flex-basis: 100%;
    //     }
    //   }
    // }

    position: relative;
    width: 100%;
    .calenderSwiper {
      // height: 40vw;
      // padding-inline: 100px;
      .img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: 30px;
        filter: invert(6%) sepia(13%) saturate(1443%) hue-rotate(213deg)
          brightness(5%) contrast(97%);
      }
    }
    @include large-screen {
      button {
        img {
          width: 20px;
        }
      }
      padding-inline: 1vw;
    }
    .buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 10;
      padding-inline: 6.3vw;

      // .nextBtn {
      //   position: absolute;
      // }
      // .prevBtn {
      //   position: absolute;
      // }
    }
  }
}
