@import "../../../styles/abstracts";



.section {
  .container {
    position: relative;
    .monthContainer {
      min-height: 100vh;
    }
    .calenderEvents {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      

      .eventsItem {
        overflow: hidden;
        flex-basis: 45%;
        display: flex;
        flex-direction: row;
        height: auto;
        // min-height: 34vw;
        max-height: 45vh;
        border-radius: 14px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.161);
        &.highlight {
          flex-basis: 100%;
          flex-direction: row-reverse;

          .imgDate {
            width: 60%;
            height: auto;
          }

          @include medium-screen {
            // flex-basis: calc(31% - 12px);
            flex-direction: column;
            .imgDate {
              height: 50vw;
              width: 100%;
            }
          }
        }

        .icon {
          max-width: 1.5rem;
          width: 1.5rem;
        }

        .imgDate {
          width: 30%;
          position: relative;
          // padding-bottom: 2.15vw;
          // background-image: url("../../../assets/images/news_1.jpg");
          // background-position: center;
          // background-size: cover;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .date {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            border-radius: 8px;

            .day {
              line-height: 0.8;
            }
          }

          @include large-screen {
            height: 25vw;

            // padding-bottom: 32px;
            .date {
              height: 64px;
            }
          }

          @include medium-screen {
            height: 35vw;
          }

          @include small-screen {
            height: 50vw;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .location {
            display: flex;
            gap: 10px;
            // font-size: 12.8px;
          }

          .title {
            // line-height: 1.5em;
            // height: 3em;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }

          .description {
            flex: 1 0 auto;
          }

          .newsUrl {
            .discover {
              display: flex;
              align-items: center;
              gap: 14px;
            }
          }
        }
      }

      @include large-screen {
        .eventsItem {
          flex-basis: calc(50% - 12px);
        }
      }

      @include medium-screen {
        .eventsItem {
          flex-basis: 100%;
        }
      }
    }

    position: relative;
    width: 100%;

    .calenderSwiper {

      // height: 40vw;
      // padding-inline: 100px;
      .img {
        border-radius: 14px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 30px;
        filter: invert(6%) sepia(13%) saturate(1443%) hue-rotate(213deg) brightness(5%) contrast(97%);
      }
    }

    @include large-screen {
      button {
        img {
          width: 20px;
        }
      }

      padding-inline: 1vw;
    }

    .buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 10;
      padding-inline: 6.3vw;

      // .nextBtn {
      //   position: absolute;
      // }
      // .prevBtn {
      //   position: absolute;
      // }
    }
  }
}


.navigation {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  z-index: 111;
  position: absolute;
  right: var(--spaceX-l);
  left: auto;
  top: 0;


  &>div {
      // margin: 0 5vw;
      cursor: pointer;
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      --arrow-color: #fff;
      color: var(--arrow-color);
      cursor: pointer;
      text-decoration: unset;

      .arrowIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row wrap;
          z-index: 1;
          width: 100%;
      }

      &:hover {
          // .arrow {
          //     width: 20px;
          //     margin-inline-end: 15px;

          // }

          .arrowBg {
              transform: scale(0.7);
          }
      }

      svg {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          height: 100%;
      }

      @include extra-large-screen {
          height: 60px;
          width: 60px;
      }

      @include medium-screen {
          height: 40px;
          width: 40px;
          margin: 0 7vw;

          img {
              width: 10px;
          }
      }
  }

  .ar & {
    flex-direction: row-reverse;
    right: auto;
    left: var(--spaceX-l);
  }

  .prev {
      transform: rotate(180deg);
  }

  .next {
      transform: rotate(0deg);
  }

  @include medium-screen {
      //   @media all and (max-width:800px) {
      margin-top: 0vw;
      width: 100%;
      left: 0 !important;
      background: transparent !important;
  }

  @media all and (max-width:600px) {
      margin-top: 1vw;
  }
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.hidden {
  display: none;
}