@import "../../styles/abstracts";

.socialLinks {
  display: flex;
  gap: 10px;
  .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(19, 17, 26, 0.12);
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    img {
      width: 1.4vw; //24px;
    }
    width: 2.6vw; //44px;
    height: 2.6vw; // 44px;
  }
  @include large-screen {
    .socialLink {
      img {
        width: 16px;
      }
      width: 36px;
      height: 36px;
    }
  }
  @include medium-screen {
    width: 100%;
    justify-content: center;
  }
}
