@import "../../../styles/abstracts";

.section {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .whoSwiperText {
      width: 50%;

      .whoSwiperTextCotainer {
        width: 80%;
      }
    }
    .whoSwiperImages {
      width: 50%;
      img {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      .outlinedButtons {
        display: flex;
        gap: 20px;
        .arrowButton {
          min-width: 48px;
          min-height: 48px;
        }
      }
    }
  }
}
