@import "../../../styles/abstracts";

.section {
  height: 100vh;
  position: relative;
  .whoSwiperImages {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    z-index: 3;
    width: 100%;
    position: absolute;
    bottom: 4.7vw;
    left: 0;
    .whoSwiperText {
      width: 70%;
      margin-inline-start: 0;

    }

    .buttons {
      display: flex;
      gap: 2.1vw;
      .outlinedButtons {
        display: flex;
        gap: 0.7vw;
        .arrowButton {
          backdrop-filter: blur(8px);
          min-width: 2.8vw; //48px;
          min-height: 2.8vw; //48px;

          img {
            width: 1.5vw;
          }
        }
      }
    }
  }
}
