// @import "../../../styles/abstracts";

// .section {
//   .container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     @include small-screen {
//       flex-direction: column;
//     }
//     .donateImg {
//       width: 45%;
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }

//     @include large-screen {
//       .donateImg {
//         width: 50%;
//       }
//       .donateText {
//         padding-inline-start: 5vw;
//       }
//       @include small-screen {
//         .donateImg {
//           width: 80%;
//         }
//         .donateText {
//           padding-inline-start: 0vw;
//           padding-top: 7vw;
//           text-align: center;
//           button {
//             margin: 0 auto;
//           }
//         }
//       }
//     }
//   }
// }

@import "../../../styles/abstracts";

.section {
  .container {
    h1 {
    }
    .donateImg {
      width: 100%;
      min-height: 90vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include large-screen {
        min-height: 80vh;
      }

      @include medium-screen {
        min-height: 60vh;
      }

      @include medium-screen {
        min-height: 35vh;
        height: 35vh;
      }
    }
    .donateButton {
      width: 100%;
      // height: 100vh;
      display: flex;
      justify-content: center;
      // align-items: flex-end;
      align-items: center;
      // background-image: url("../../../assets/images/donate.jpg");
      // background-repeat: no-repeat;
      // background-size: cover;
    }
  }
}
