@import "../../styles/abstracts";

.section {
  margin-top: auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium-screen {
      flex-direction: column;
      align-items: flex-start;
    }
    .footerLogoSubscribe {
      flex-basis: 65%;
      .footerLogo {
        width: 8vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        @include large-screen {
          width: 12vw;
        }
        @include small-screen {
          width: 20vw;
        }
      }
      .footerSubScribe {
        margin-bottom: 30px;
        > p {
          margin-bottom: 0.5vw;
        }
        .formFeilds {
          display: flex;
          gap: 12px;

          .input {
            min-width: 23.5vw; // 397px
            min-height: 50px; // 3vw;
            border-radius: 5px;
            &:focus {
              outline: none;
            }
            border: 2px solid rgba(226, 232, 240, 1);
            &::placeholder {
              color: var(--dark-gray);
            }

            @include large-screen {
              min-height: 40px;
              min-width: 28vw;
              font-size: 16px;
            }
            @include medium-screen {
              min-width: 40vw;
            }
          }
        }
      }
    }
    .footerLinks {
      flex-basis: 50%;
      display: flex;
      justify-content: space-between;
      > div {
        a {
          display: block;
          text-decoration: none;
          margin-bottom: 1vw;
          font-weight: bold;
          color: var(--purple);
        }
      }
      @include medium-screen {
        width: 100%;
      }
    }

    .socialLinks {
      display: flex;
      gap: 10px;
      .socialLink {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid var(--light-gray);
        border-radius: 5px;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        img {
          width: 1.4vw; //24px;
        }
        width: 2.6vw; //44px;
        height: 2.6vw; // 44px;
      }
      @include large-screen {
        .socialLink {
          img {
            width: 16px;
          }
          width: 36px;
          height: 36px;
        }
      }
      @include medium-screen {
        width: 100%;
        justify-content: center;
      }
    }
    .rights {
    }
  }

  hr {
    border-top: 2px solid var(--light-gray);
  }
}
