@import "../../styles/abstracts";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 20px; // 1.2vw;
  font-weight: 600;
  border-radius: 3px;
  // padding: 0.6vw 2.6vw;
  min-width: 190px; //11.1vw;
  min-height: 50px; // 50px; 3vw;

  @include large-screen {
    min-width: 14vw;
    min-height: 40px;
    font-size: 16px;
    // min-width: 16vw; //160px
    // min-height: 4vw; // 40px;
    // font-size: 16px;
  }

  // @include medium-screen {
  //   min-width: 17vw; //125px
  //   min-height: 5vw; // 40px;
  //   font-size: 14px;
  // }

  @include medium-screen {
    min-width: 120px; //26vw;
  }
  // min-width: 11vw;
  // min-height: 3vw;
  transition: all 0.2s linear;
  // color: var(--white);
  background-color: var(--red);
  a {
    text-decoration: none;
  }
}
