.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1vw; //16px;
  font-weight: 600;
  border-radius: 3px;
  // padding: 0.6vw 2.6vw;
  min-width: 11.1vw; // 190px;
  min-height: 3vw; // 50px;

  // min-width: 11vw;
  // min-height: 3vw;
  transition: all 0.2s linear;
  color: var(--white);
  background-color: var(--red);
  a {
    text-decoration: none;
  }
}
