@import "../../../styles/abstracts";

.section {
  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .importanceText {
      flex-basis: 45%;
      h1 {
        @include medium-screen {
          margin-bottom: 20px;
        }
      }
    }

    .importanceImg {
      position: relative;
      flex-basis: 45%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &:first-child {
          border-radius: 20px;
          position: relative;
          z-index: 2;
        }
      }
      .vector {
        position: absolute;
        left: 40%;
        bottom: 10%;
      }
    }
    @include large-screen {
      .AOImg {
        flex-basis: 50%;
      }
    }
    @include medium-screen {
      flex-direction: column-reverse;
    }
  }

  .modelItems {
    display: flex;
    gap: 1.8vw; //30px

    hr {
      align-self: stretch;
      border: 2px solid rgba(102, 102, 102, 0.1);
    }
    hr:last-of-type {
      display: none;
    }
    @include medium-screen {
      flex-direction: column;
      gap: 3vw; //30px
      hr {
        border: 1px solid rgba(102, 102, 102, 0.1);
      }
    }
  }
}
