@import "../../styles/abstracts";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11111111;
  width: 100%;

  .headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 91px;
    height: 91px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .menuContainer {
    .menu {
      display: flex;
      align-items: center;

      li {
        margin: 0vw 1vw;
        list-style: none;

        a {
          text-decoration: none;
        }
      }
      li:last-child {
        margin-left: 0vw;
      }
    }
  }
}
