@import "../../styles/abstracts";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative;
  background: transparent;
  font-size: 20px; // 1.2vw;
  font-weight: 600;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;

  min-width: 190px; //11.1vw;
  min-height: 50px; //3vw;

  @include large-screen {
    min-width: 14vw;
    min-height: 48px;
    // min-width: 16vw; //160px
    // min-height: 4vw; // 40px;
    // font-size: 16px;
  }

  @include medium-screen {
    min-width: 135px; //26vw;
    min-height: 48px;
    font-size: 18px; // 1vw;
  }
  transition: all 0.2s linear;
  a {
    text-decoration: none;
  }
}
