@import "../../../styles/abstracts";


.section {
    min-height: 70vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include medium-screen {
        min-height: unset;
    }
    &.first {
        min-height: 85vh;

        @include medium-screen {
            min-height: unset;
        }
    }

    &.rev {
        flex-direction: row-reverse;
    }

    .bg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(70, 50, 92, 0.5);
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        width: 60%;
        align-self: center;

        @include medium-screen {
            width: 100%;
        }

    }

    .image {
        position: relative;
        width: 35%;
        @include medium-screen {
            width: 100%;
            margin-top: var(--spaceY-minor);
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &:first-child {
                border-radius: 20% 0px 20% 0;
                position: relative;
                z-index: 2;
            }
        }
    }
}