@import "../../../styles/abstracts";

.section {
  // overflow-x: hidden;
  position: relative;
  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .goalsText {
      flex-basis: 45%;
    }

    .goalsImg {
      position: relative;
      flex-basis: 45%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &:first-child {
          border-radius: 20px;
          position: relative;
          z-index: 2;
        }
      }
      .vector {
        z-index: 1;
        position: absolute;
        right: 40%;
        bottom: 10%;
        transform: scaleX(-1);
      }
    }
    @include large-screen {
      .goalsText {
        flex-basis: 50%;
      }
    }
    @include medium-screen {
      flex-direction: column;
    }
  }
}

.goalItem {
  display: flex;
  gap: 20px;
  align-items: center;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw; //70px;
    width: 4vw; //70px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid rgba(11, 22, 63, 0.12);

    @include large-screen {
      height: 60px;
      width: 60px;
    }

    @include medium-screen {
      border-radius: 10px;
      height: 40px;
      width: 40px;
    }
  }

  @include medium-screen {
    gap: 10px;
  }
}

.ar {
  .container {
    .goalsImg {
      .vector {
        right: -40%;
        transform: scaleX(1);
      }
    }
  }
}
