@import "../../../styles/abstracts";
// .section {
//   position: relative;
//   .publicationImg {
//     position: absolute;
//     top: 0;
//     width: 40%;
//     right: 6.3vw;
//     height: 100%;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: contain;
//     }
//   }
//   .container {
//     min-height: 40vw;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     background-image: url("../../../assets/images/publication_bg_1.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: left center;

//     .publicationText {
//       width: 45%;

//       .buttons {
//         display: flex;
//         gap: 16px;
//       }
//     }
//   }

//   @include medium-screen {
//     margin-top: 18vw;
//     min-height: 70vh;
//     display: flex;
//     flex-direction: column-reverse;
//     background-image: url("../../../assets/images/publication_bg_1.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: left top;
//     background-color: var(--bg-3);
//     .publicationImg {
//       position: static;
//       // top: 30%;
//       width: 100%;
//       height: 100%;
//       padding-inline: 6.3vw;
//       img {
//         object-fit: contain;
//       }
//     }
//     .container {
//       justify-content: center;
//       align-items: flex-start;
//       background: none;

//       .publicationText {
//         width: fit-content;
//         text-align: center;
//         .buttons {
//           justify-content: center;
//         }
//       }
//     }
//   }
// }

.section {
  h1 {
  }
  // .imgButtonsCont {
  //   background-clip: content-box;
  //   padding-top: 3.8vw;
  //   .publicationImg {
  //     width: 100%;
  //     img {
  //       margin-top: -3.8vw;
  //       width: 40%;
  //       height: 100%;
  //       object-fit: contain;

  //       @include extra-large-screen {
  //         width: 60%;
  //       }

  //       @include large-screen {
  //         width: 80%;
  //       }
  //       @include small-screen {
  //         width: 100%;
  //       }
  //     }
  //   }
  //   .buttons {
  //     justify-content: center;
  //     display: flex;
  //     gap: 16px;
  //   }
  // }

  /*
  .publicationImgButtons {   
    position: relative;
    width: 100%;
    img {
      width: 100%;
      // height: 85vh;
      object-fit: cover;
      @include small-screen {
        height: 60vw;
      }
    }
    .buttons {
      justify-content: center;
      display: flex;
      gap: 16px;
      position: absolute;
      right: 0;
      bottom: 6vw;
    }
    
    // min-height: 100vh;
    // background-image: url("../../../assets/images/publication.jpg");
    // background-repeat: no-repeat;
    // background-size: contain;
  }*/

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      padding-inline-start: 10vw;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .titleWrapper {
        position: relative;
        width: fit-content;
        .title {
          padding: 2vw 2vw;
          line-height: 1.3;
          font-size: 5.3vw;
          &,
          * {
            font-weight: 900;
            font-family: oredo;
          }

          .line1 {
            // text-shadow: -20vw -1vw 0px rgba(0, 0, 0, 0.05);
            position: relative;
            white-space: nowrap;
            span {
              position: absolute;
              color: rgba(0, 0, 0, 0.05);
              top: -1vw;
              left: -15vw;
              font-size: 7.4vw;
              z-index: 0;
            }
          }
          > span {
            white-space: nowrap;
          }
          @include medium-screen {
            font-size: 10vw;
            // padding: 3vw 3vw;
            .line1 {
              span {
                font-size: 12vw;
              }
            }
          }
        }

        img {
          width: 6vw;
        }
        img:first-child {
          position: absolute;
          top: 0;
          // right: 0;
        }
        img:nth-of-type(2) {
          position: absolute;
          bottom: 0;
          // left: 0;
        }
        @include large-screen {
          img {
            width: 12vw;
          }
          padding: 2vw 4vw;
        }
        // @include small-screen {
        //   padding: 3vw 6vw;
        // }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
      }
    }
    .img {
      flex-basis: 50%;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include medium-screen {
      flex-direction: column-reverse;
    }
  }
}
